<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="onAddNew()"></button>
    </ng-template>
  </p-toolbar>
  <p-dialog header="Add New Employee Record" [(visible)]="openNewDialogue">
    <ng-template pTemplate="content">
      <div class="p-float-label" style="padding-bottom: 2%;">
        <input pInputText type="text" id="empId" [(ngModel)]="empId" disabled="true" placeholder="Employee Id">
      </div>
      <div class="p-float-label" style="padding-bottom: 2%;">
        <input pInputText type="text" id="firstName" [(ngModel)]="firstName" placeholder="First Name" (ngModelChange)="validateInput($event, 'firstName')">
        <span *ngIf="firstNameInvalid" class="text-danger" style="padding-left: 1%;">Input is not in desired format</span>
      </div>
      <div class="p-float-label" style="padding-bottom: 2%;">
        <input pInputText type="text" id="lastName" [(ngModel)]="lastName" placeholder="Last Name" (ngModelChange)="validateInput($event, 'lastName')">
        <span *ngIf="lastNameInvalid" class="text-danger" style="padding-left: 1%;">Input is not in desired format</span>
      </div>
      <div class="p-float-label" style="padding-bottom: 2%;">
        <input pInputText type="text" id="email" [(ngModel)]="email" placeholder="Email" pattern="FirstName.LastName@company.com" (ngModelChange)="validateInput($event, 'email')">
        <span *ngIf="emailInvalid" class="text-danger" style="padding-left: 1%;">Input is not in desired format</span>
      </div>
      <div class="p-float-label" style="padding-bottom: 2%;">
        <input pInputText type="text" id="areaOfExpertise" [(ngModel)]="areaOfExpertise" placeholder="Areas of Expertise" (ngModelChange)="validateInput($event, 'areas')">
        <span *ngIf="areasInvalid" class="text-danger" style="padding-left: 1%;">Input is not in desired format</span>
      </div>
      <div class="p-float-label" style="padding-bottom: 2%;">
        <input pInputText type="text" id="yearsOfExperience" [(ngModel)]="yearsOfExperience" placeholder="Years of Experience" (ngModelChange)="validateInput($event, 'experience')">
        <span *ngIf="experienceInvalid" class="text-danger" style="padding-left: 1%;">Input is not in desired format</span>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="closeDialogWindow()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="submitDisabled" (click)="saveRecord()"></button>
    </ng-template>
  </p-dialog>
  <p-table #dt [value]="employeeProfiles" styleClass="p-datatable-gridlines" [loading]="loading" dataKey="empId"
      [globalFilterFields]="['firstName','lastName','email','areaOfExpertise','yearsOfExperience']"
      editMode="row">
    <ng-template pTemplate="caption">
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword"/>
      </span>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Area of Expertise</th>
        <th>Experience</th>
        <th>Edit</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-emp let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="emp">
        <td>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="emp.empId" disabled="true">
                </ng-template>
                <ng-template pTemplate="output">
                    {{emp.empId}}
                </ng-template>
            </p-cellEditor>
        </td>
        <td>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="emp.firstName" required>
                </ng-template>
                <ng-template pTemplate="output">
                    {{emp.firstName}}
                </ng-template>
            </p-cellEditor>
        </td>
        <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="emp.lastName" required>
            </ng-template>
            <ng-template pTemplate="output">
                {{emp.lastName}}
            </ng-template>
            </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="emp.email" required>
          </ng-template>
          <ng-template pTemplate="output">
              {{emp.email}}
          </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="emp.areaOfExpertise" required>
          </ng-template>
          <ng-template pTemplate="output">
              {{emp.areaOfExpertise}}
          </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="emp.yearsOfExperience" required>
          </ng-template>
          <ng-template pTemplate="output">
              {{emp.yearsOfExperience}}
          </ng-template>
          </p-cellEditor>
        </td>
        <td style="text-align:center">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(emp)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(emp)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(emp, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
        </td>
    </tr>
    </ng-template>
  </p-table>
</div>
