<div>
  <p-table
    #dt
    [value]="employeeProfiles"
    styleClass="p-datatable-gridlines"
    [loading]="loading"
    dataKey="empId"
    [globalFilterFields]="[
      'firstName',
      'lastName',
      'email',
      'areaOfExpertise',
      'yearsOfExperience'
    ]"
  >
    <ng-template pTemplate="caption">
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="applyFilterGlobal($event, 'contains')"
          placeholder="Search keyword"
        />
      </span>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Area of Expertise</th>
        <th>Experience</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-emp>
      <tr>
        <td>{{ emp.empId }}</td>
        <td>{{ emp.firstName }}</td>
        <td>{{ emp.lastName }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.areaOfExpertise }}</td>
        <td>{{ emp.yearsOfExperience }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
